*
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
nav
{

    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    padding: 30px;

    .svg
    {
        display: none;
    }

    .hh
    {
        display: flex;
        gap: 50px;

        button
        {
            padding: 15px 30px;
            background-color: #608AF5; 
            color: white;
            border: none;
            border-radius: 10px;
        }
    }
}


.hero
{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    .list
    {
        color: #002265;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        font-size: 24px;
    }
}

.box
{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;

    .cards
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }

    .card
    {
        width: 347px;
        height: 280px;
        border-radius: 15px;
        box-shadow: 0px 0px 15px rgb(189, 189, 189);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;

        div
        {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            text-align: center;
        }
    }
}





@media(max-width:530px)
{
    nav
    {
        .hh
        {
            display: none;
        }
        .svg
        {
            display: block;
            width: 26px;
        }
    }

    .hero
    {
        flex-direction: column-reverse;

        img
        {
            width: 80%;
        }

        .list
        {
            padding: 20px;
            font-size: 18px;
        }
    }

    .cards
    {
        flex-direction: column;
        padding: 20px;
        row-gap: 20px;
    }
}